{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags artwork_tags %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="has-text-centered has-text-primary">
                <h1 class="title is-2 has-text-primary-dark"> {{ page.title|richtext }} </h1>
                <div class="container">
                    <p class="is-size-6 pb-6">Cliquez sur un élément pour filtrer les oeuvres</p>
                    <div id="buttonGallery">
                        <button class="is-outlined button is-rounded is-primary is-active mx-3" onclick="filterArtworks('all')">
                            Tout
                        </button>
                        {%for gallery in galleries%}
                            <button class="button is-rounded is-{{gallery.color}} has-text-primary mx-3" onclick="filterArtworks('{{gallery.name}}')">
                                {{gallery.name}}
                            </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr>
            <div class="section">
                <h2 class="title is-3 has-text-centered has-text-weight-semibold has-text-primary-dark">Les Oeuvres</h2>
                <div class="columns is-6 is-multiline">
                    {%for artwork in artworks%}
                        <a class="artwork-filtered {%for gallery in artwork.galleries.all%} {{gallery.name}} {% endfor %}" href="{% artwork_page_url page artwork %}">
                            <div class="card has-background-white-ter">
                                <div class="card-image">
                                    {% image artwork.image min-400x300 as artwork_image %}
                                    {% comment %} Todo : find the right settings for the width and height of the image {% endcomment %}
                                    <figure class="image is-4by3">
                                            <img src='{{ artwork_image.url }}' alt="Oeuvre image">
                                    </figure>
                                </div>
                                <div class="card-content has-text-primary">
                                    <h3 class="title is-5 has-text-primary-dark has-text-weight-bold">{{artwork.name}}</h3>
                                    <p class="is-size-6 artwork-description">{{artwork.short_description}}</p>
                                    <div class="has-text-centered mt-3">
                                        {%for gallery in artwork.galleries.all%}
                                        <p class="button is-rounded is-{{gallery.color}}">
                                            {{gallery.name}}
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        filterArtworks("all")
        function filterArtworks(name) {
            var x, i;
            x = document.getElementsByClassName("artwork-filtered");
            if (name == "all") name = "";
            for (i = 0; i < x.length; i++) {
                removeClassToUnselectedArtwork(x[i], " column is-one-third");
                if (x[i].className.indexOf(name) > -1) addClassToSelectedArtwork(x[i], " column is-one-third");
            }
        }

        function addClassToSelectedArtwork(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
            }
        }

        function removeClassToUnselectedArtwork(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var buttonContainer = document.getElementById("buttonGallery");
        var buttons = buttonContainer.getElementsByClassName("button");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", function(){
                var current = document.getElementsByClassName("is-active");
                current[0].className = current[0].className.replace(" is-active", "");
                this.className += " is-active";
            });
        }
    </script>
{% endblock %}

{% block extra_css %}
    <style>
        hr {
            background-color: rgb(13 26 38 / 71%);
            margin: 5.5rem 24rem 0rem;
            height: 1px;
        }
    </style>
{% endblock %}
