{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <div class="container">
        <div class="section">
            <a href="/galeries/">{% include "components/icon.html" with name="arrow-left" height="13" width="13" %} Liste des oeuvres</a>
            <h1 class="title is-2 has-text-centered"> {{ artwork.name }} </h1>
            <figure class="image">
                <img src='{{ artwork.image.file.url }}' alt="Oeuvre image">
            </figure>
            <div class="section">
                {% include "components/free_body.html" with body=artwork.body %}
            </div>
        </div>
    </div>

{% endblock %}
