{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="has-text-centered has-text-primary">
                <h1 class="title is-2 has-text-primary-dark"> {{ page.title|richtext }} </h1>
                <div class="container">
                    <p class="is-size-6 pb-6">Cliquez sur un élément pour filtrer les oeuvres</p>
                    <div id="buttonGallery">
                        {%for gallery in galleries%}
                            <button id="gallery-{{gallery.name}}" class="button is-rounded is-{{gallery.color}} mx-3 my-1 is-light has-text-primary-dark" onclick="toggleGallery('{{gallery.name}}')">
                                {{gallery.name}}
                            </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr class="is-hidden-mobile">
            <div class="section">
                <h2 class="title is-3 has-text-centered has-text-weight-semibold has-text-primary-dark">Les Oeuvres</h2>
                <div class="columns is-6 is-multiline">
                    {%for artwork in artworks%}
                        {% include "components/card-artwork.html" with artworks_page=artworks_page artwork=artwork %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        const galleriesSelected = []

        function toggleGallery(galleryName) {
            addOrRemove(galleriesSelected, galleryName)
            const galleryElement = document.getElementById("gallery-" + galleryName);
            galleryElement.classList.toggle("is-light");
            galleryElement.classList.toggle("has-text-primary-dark");
            galleryElement.classList.toggle("has-text-white");
            updateArtworks();
        }

        function updateArtworks() {
            const artworks = document.getElementsByClassName("artwork-filtered");
            for (const artwork of artworks) {
                const isEnabled = (galleriesSelected.length === 0 || galleriesSelected.some(item => artwork.classList.contains(item)))
                artwork.style.display = isEnabled ? "block" : "none";
            }
        }

        function addOrRemove(array, value) {
            var index = array.indexOf(value);
            if (index === -1) {
                array.push(value);
            } else {
                array.splice(index, 1);
            }
        }
    </script>
{% endblock %}

{% block extra_css %}
    <style>
        hr {
            background-color: rgb(13 26 38 / 71%);
            margin: 2.5rem 20rem 0rem;
            height: 1px;
        }
    </style>
{% endblock %}
