{% extends "base.html" %}


{% load wagtailcore_tags %}

{% block body_class %}template-artworkpage{% endblock %}

{% block content %}
    <div class="container">
        <div class="section has-text-centered">
            <h1 class="title is-2"> {{ page.title|richtext }} </h1>
            <div class="container">
                <p class="is-size-6">Cliquez sur un élément pour filtrer les dispositifs</p>
                {%for gallery in galleries%}
                    <button class="button is-rounded is-{{gallery.color}}">
                        {{gallery.name}}
                    </button>
                {% endfor %}
            </div>
            <div>
                <h2>Les Oeuvres</h2>
                <div>
                    {%for artwork in artworks%}
                        <div>
                            <h3>{{artwork.name}}</h3>
                            <p>{{artwork.short_description}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
