{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}
    <div class="container">
        <div class="section">
            <div class="is-flex is-flex-wrap-wrap">
                <div class="pb-6 pt-3 is-column-3">
                    <p class="title is-6">Filtrer par galerie</p>
                    <div class="mobile-gallery-filter">
                        {%for gallery in galleries%}
                        <div>
                            <button
                            id="gallery-{{gallery.name}}"
                            class="button is-rounded is-outlined is-{{gallery.color}} my-1 gallery-tag"
                            onclick="toggleGallery('{{gallery.name}}')">
                                {{gallery.name}}
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="is-column-9">
                    <h1 class="title is-2 has-text-black-ter"> {{ page.title }} </h1>
                    <div class="columns is-6 is-multiline">
                        {%for artwork in artworks %}
                            {% include "components/card-artwork.html" with artworks_page=artworks_page artwork=artwork %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        const galleriesSelected = []

        function toggleGallery(galleryName) {
            addOrRemove(galleriesSelected, galleryName)
            const galleryElement = document.getElementById("gallery-" + galleryName);
            galleryElement.classList.toggle("is-outlined");
            updateArtworks();
        }

        function updateArtworks() {
            const artworks = document.getElementsByClassName("artwork-filtered");
            for (const artwork of artworks) {
                const isEnabled = (galleriesSelected.length === 0 || galleriesSelected.some(item => artwork.classList.contains(item)))
                artwork.style.display = isEnabled ? "block" : "none";
            }
        }

        function addOrRemove(array, value) {
            var index = array.indexOf(value);
            if (index === -1) {
                array.push(value);
            } else {
                array.splice(index, 1);
            }
        }
    </script>
{% endblock %}
