{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="container narrow-container">
        {%if page.artist_name%}
        <div class="section">
            <h1 class="title is-2 has-text-centered">{{ page.artist_name|richtext }}</h1>
            <div class="mt-6 home__presentation">
                <div>
                    <p>{{ page.artist_body|richtext }}</p>
                </div>
                <figure class="image" style="max-height: 500px;">
                    <img src='{{ page.artist_image.file.url }}' alt="Oeuvre image" style="max-height: 500px; height: 100%; object-fit: cover; border-radius: 2%;" loading="lazy">
                </figure>
            </div>
        </div>
        {% endif %}
        {%if page.artworks_highlight_title%}
        <div class="section">
            <h2 class="title is-3 has-text-centered">{{ page.artworks_highlight_title|richtext }}</h2>
            {%for artwork in artworks%}
                {% include "components/card-artwork.html" with artworks_page=artworks_page artwork=artwork horizontal=True %}
            {% endfor %}
        </div>
        {% endif %}
    </div>

{% endblock %}
