{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    <div class="container is-fluid my-4">
        <div class="columns is-align-items-center">
            <div class="column">
                <h1 class="title is-2 has-text-centered">{{ page.title|richtext }}</h1>
                <p>{{ page.body|richtext }}</p>
            </div>
            <div class="column">
                <figure style="max-height: 700px;">
                    <img src='{{ image_presentation }}' alt="Presentation image">
                </figure>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_css %}
    <style>
        figure > img {
            max-height: 700px;
            height: 100%;
            object-fit: cover;
        }
        @media screen and (max-width: 768px) {
            figure {
                height: 350px!important;
            }
        }
    </style>
{% endblock %}
