Django>=4.0,<4.1
django-anymail[mailgun]==8.5
django-cors-headers==3.5.0
django-model-utils==4.2.0
getconf==1.11.1
gunicorn==20.1.0
ipython==8.0.1
rollbar>=0.16,<0.17
telescoop_backup==0.1.4
wagtail>=4.0,<4.1
