{% load wagtailcore_tags wagtailroutablepage_tags wagtailimages_tags %}

<a href="{% routablepageurl articles_page "article" article.slug %}">
  <div class="card {% if horizontal %} horizontal-card {% else %} vertical-card {% endif %}">
    {% if article.image %}
      <div class="card-image">
          {% image article.image min-400x300 as article_image %}
          <figure class="image">
            <img src='{{ article_image.url }}' alt="Article image" loading="lazy">
          </figure>
      </div>
      {% endif %}
      <div class="card-content is-flex is-flex-direction-column is-justify-content-space-between">
          <div>
              <h3 class="title is-5 has-text-black-bis has-text-weight-bold">{{article.name}}</h3>
              <p class="is-size-6 article-description mb-5 has-text-grey-dark">{{article.short_description}}</p>
          </div>
          <div class="has-text-left mt-3 is-flex-wrap-wrap" style="gap: 0.5rem;">
              {%for gallery in article.galleries.all%}
              <p class="button is-rounded is-{{gallery.color}}">
                  {{gallery.name}}
              </p>
              {% endfor %}
          </div>
      </div>
  </div>
</a>
