{% load static %}
{% load wagtailsettings_tags %}

<nav class="navbar has-background-primary is-flex-direction-column" role="navigation" aria-label="main navigation">
    {%if banner_url%}
    <div class"navbar-item">
        <figure class="image" style="height: 270px;">
            <img src='{{ banner_url }}' alt="Banière image" style="height: 100%; object-fit: cover;" loading="lazy">
        </figure>
    </div>
    {%endif%}
    <div class="navbar-start mx-auto">
        <a class="navbar-item has-text-primary-light px-5" href="/">
            ACCUEIL
        </a>
        {% if presentation_page %}
            <a class="navbar-item has-text-primary-light px-5" href="{{ presentation_page.url }}">
                PRESENTATION
            </a>
        {% endif %}
        {% if work_experience_page %}
            <a class="navbar-item has-text-primary-light px-5" href="{{ work_experience_page.url }}">
                PARCOURS
            </a>
        {% endif %}
        {% if artworks_page %}
            <a class="navbar-item has-text-primary-light px-5" href="{{ artworks_page.url }}">
                GALERIES
            </a>
        {% endif %}
        {% if articles_page %}
            <a class="navbar-item has-text-primary-light px-5" href="{{ articles_page.url }}">
                ARTICLES
            </a>
        {% endif %}
    </div>
</nav>
