{% load static %}
{% load wagtailsettings_tags %}

<nav class="navbar has-background-primary is-flex-direction-column mb-6" role="navigation" aria-label="main navigation">
    {%if banner_url%}
    <div class"navbar-item">
        <figure class="image" style="height: 270px;">
            <img src='{{ banner_url }}' alt="Banière image" style="height: 100%; object-fit: cover;">
        </figure>
    </div>
    {%endif%}
    <div class="navbar-start mx-auto">
        <a class="navbar-item has-text-primary-light px-5" href="/">
            ACCUEIL
        </a>
        <a class="navbar-item has-text-primary-light px-5" href="{{ presentation_page.url }}">
            PRESENTATION
        </a>
        <a class="navbar-item has-text-primary-light px-5" href="{{ work_experience_page.url }}">
            PARCOURS
        </a>
        <a class="navbar-item has-text-primary-light px-5" href="{{ artworks_page.url }}">
            GALERIES
        </a>
        <a class="navbar-item has-text-primary-light px-5" href="{{ articles_page.url }}">
            ARTICLES
        </a>
    </div>
</nav>

<style>
    .navbar-item:hover {
        background: #4c6780 !important;
    }
</style>
