{% load static %}
{% load wagtailsettings_tags %}

<nav class="navbar has-background-primary is-flex-direction-column" role="navigation" aria-label="main navigation">
    <div class"navbar-item">
        <figure class="image" style="height: 270px;">
            <img src='{{ banner_url }}' alt="Banière image" style="height: 100%; object-fit: cover;">
        </figure>
    </div>
    <div class="navbar-start mx-auto">
        <a class="navbar-item has-text-primary-light px-5" href="/">
            ACCUEIL
        </a>
        <a class="navbar-item has-text-primary-light px-5" href="/presentation/">
            PRESENTATION
        </a>
        <a class="navbar-item has-text-primary-light px-5" href="/mon-parcours/">
            PARCOURS
        </a>
        <a class="navbar-item has-text-primary-light px-5" href="/galeries/">
            GALERIES
        </a>
    </div>
</nav>

<style>
    .navbar-item:hover {
        background: #4c6780 !important;
    }
</style>
