.card::before {
    bottom: 2rem;
    color: var(--text-action-high-blue-france);
    position: absolute;
    content: "";
    right: 2rem;
    --icon-size: 1.5rem;
    background-color: currentColor;
    display: inline-block;
    flex: 0 0 auto;
    height: var(--icon-size);
    -webkit-mask-image: url("icons/arrow-right-line.svg");
    mask-image: url("icons/arrow-right-line.svg");
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: calc((0.75em - var(--icon-size))*.5);
    width: var(--icon-size);
}

.card .card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.horizontal-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.horizontal-card .card-image {
    max-height: 300px;
}

.horizontal-card .image {
    height: 100%;
}

.horizontal-card .card-content {
    grid-column: 2 / 4;
}

.vertical-card .card-image {
    height: 200px;
}


@media (max-width: 996px) {}

@media (max-width: 767px) {}

@media (max-width: 599px) {
    .horizontal-card {
        display: block;
    }

    .horizontal-card .card-image {
        width: 100%;
        height: 250px;
    }
}

@media (max-width: 360px) {}
