@import "card.css";

body {
    line-height: 1.25;
}

.narrow-container {
    max-width: 1050px !important;
}

.navbar-item:hover {
    background: #4c6780 !important;
}

.home__presentation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rich-text li {
    margin-left: 2rem !important;
}

@media (max-width: 1215px) {
    .narrow-container {
        max-width: 960px !important;
    }
}
